body {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Titillium Web", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  width: 70vw;
  height: max-content;
  align-items: center;
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Header img {
  width: 40px;
  height: 30px;
  margin: 0 20px 0 0;
}
.inner_box {
  margin: 0px auto;
}
.input-box {
  margin: 0px auto;
  padding: 0px 2vmax;
}
.input-box label {
  margin: 2px 10px 1px 0px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding: 5px;
}
.input-box input[type="text"] {
  border: 2px solid #000;
  padding: 10px;
  min-width: 40vw;
  max-width: 45vw;
  line-height: 20px;
  margin: 7px 9px 5px 5px;
  color: #080809;
}
.input-box input[type="button"] {
  border: 2px solid #000;
  padding: 7px;
  color: black;
  background-color: rgb(217, 217, 217);
  margin-left: 5px;
}
.input-box input[type="button"]:hover {
  background-color: black;
  color: white;
}
.input-box input[type="button"]:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.display_task #list {
  margin: 2px auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 2vmax;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1px 10px;
  border: 2px solid black;
  width: 60vw;
  height: fit-content;
  overflow-wrap: anywhere;
  gap: 10px;
}

.lineThrough {
  text-decoration: line-through;
  color: #ccc;
}
.fa-check-circle {
  color: #1a7d1d;
}
